@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --main-color: #25D366;
    --gray-color: #ebe6e6ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, sans-serif;

}

#root {

    width: 100vw;
    height: 100vh;
}

body {
    overflow: hidden;

    .handle-screens {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;


        .contacScreen-container {
            width: 350px;
            height: 100vh;
            border: 1px solid var(--gray-color);


            .contact-screen {
                width: 100%;
                display: flex;
                flex-direction: column;

                .container__logo-newchat-menu {
                    display: flex;
                    flex-direction: row;
                    width: 78%;
                    margin: 0 auto;
                    height: 70px;
                    align-items: center;

                    .container__whats-app-logo {
                        color: #1daa61;
                        display: flex;
                        justify-content: flex-start;

                        path {
                            display: flex;
                            justify-content: flex-start;
                        }
                    }

                    .container__newchat-menu {
                        display: flex;
                        flex: 1;
                        gap: 8px;
                        justify-content: flex-end;

                        .container__new-chat {
                            font-size: 24px;
                            all: unset;
                        }

                        .container__menu {
                            font-size: 24px;
                            all: unset;
                        }
                    }
                }

                .search-contact {
                    width: 78%;
                    margin: 0 auto;

                    input {
                        width: 100%;
                        height: 40px;
                        outline: none;
                        border-radius: 30px;
                        padding: 0px 10px;
                        border: 0px;
                        background-color: var(--gray-color);
                        margin-bottom: 15px;
                        font-size: 15px;
                    }

                    input:hover {
                        border: 2px solid rgb(219, 218, 218);
                    }

                    input:focus {
                        outline: 2px solid var(--main-color);
                        border: none;
                    }
                }

                .contacts-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    width: 100%;
                    max-width: 100%;

                    .contact-preview {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        width: 85%;
                        border-radius: 10px;
                        align-items: center;
                        padding: 15px;

                        &:hover {
                            background-color: var(--gray-color);
                        }

                        .contact-preview__avatar-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .contact-preview__avatar {
                                width: 49px;
                                height: 49px;
                                border: 1px solid gray;
                                border-radius: 30px;
                            }
                        }


                        .contact-preview__text {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            flex: 1;
                            min-width: 0;

                            .contact-preview__name-hour {
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                .contact-preview__name {
                                    all: unset;
                                    font-size: 16px;
                                    flex: 1;
                                }

                                .contact-preview__hour {
                                    font-size: 12px;
                                }
                            }

                            .contact-preview__last-message {
                                font-size: 14px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                min-width: 0;
                                flex-grow: 1;
                            }
                        }

                    }

                }
            }


        }

        .outlet-container {
            flex: 1;
            height: 100vh;

            .chatscreen-start {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .chat-screen {
                display: flex;
                flex-direction: column;
                height: 100%;

                .contact-nav {
                    height: 65px;
                    display: flex;
                    flex-direction: row;
                    padding: 0px 15px;

                    .contact-nav__avatar-name {
                        flex: 1;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 15px;


                        .contact-nav__avatar {
                            width: 40px;
                            height: 40px;
                            border: 1px solid gray;
                            border-radius: 30px;
                        }

                        .contact-nav__name {
                            all: unset;
                            font-size: 16px;
                        }
                    }

                    .contact-nav__icons {
                        display: flex;
                        justify-content: end;
                        gap: 30px;

                        .contact-nav__icon {
                            all: unset;
                        }
                    }
                }

                .chat {
                    height: 100%;
                    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
                    filter: brightness(1.12) grayscale(50%);
                    overflow: auto;
                    display: flex;
                    flex-direction: column;

                    .chat-list {
                        width: 95%;
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;


                        .message {
                            display: inline-block;
                            max-width: 60%;
                            word-wrap: break-word;
                            overflow-wrap: break-word;
                            padding: 10px 14px;
                            border-radius: 16px;
                            font-size: 14px;
                            margin: 6px 12px;

                        }

                        .message__me {
                            background-color: rgb(141, 228, 141);
                            margin-left: auto;
                            border-bottom-right-radius: 0;
                        }

                        .message__other {
                            background-color: #ffff;
                            margin-right: auto;
                            border-bottom-left-radius: 0;
                        }

                        .delete-message-btn {
                            all: unset;
                            padding: 0px 5px;
                        }

                    }

                    .send-message {
                        display: flex;
                        align-items: flex-end;
                        flex: 1;
                        width: 100%;
                        height: 60px;
                        margin: 0 auto;

                        .send-message__form {
                            display: flex;
                            width: 95%;
                            align-items: center;
                            position: relative;
                            margin: 0 auto;

                            .send-message__attach-btn {
                                all: unset;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                left: 5px;
                            }

                            .send-message__sticker-btn {
                                all: unset;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                left: 35px;
                            }

                            .send-message__input {
                                width: 100%;
                                height: 50px;
                                border-radius: 25px;
                                border: none;
                                box-shadow: 2px 2px 6px 1px gray;
                                outline: none;
                                padding: 0px 40px 0px 80px;
                            }

                            .send-message__send-btn {
                                all: unset;
                                background-color: #1daa61;
                                color: #ffff;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 20px;
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                }



            }
        }
    }
}

@media screen and (max-width: 1200px) {
    body {
        .handle-screens {
            .outlet-container {
                .chat-screen {
                    .chat {
                        .chat-list {
                            width: 500px;
                        }

                        .send-message {
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    body {
        .handle-screens {
            .contacScreen-container {
                min-width: none;
                width: 250px;

                .contact-screen {
                    .search-contact {
                        input {
                            font-size: 11px;
                        }
                    }

                }
            }

            .outlet-container {
                .chat-screen {
                    .chat {
                        .chat-list {
                            width: 300px;
                        }

                        .send-message {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        .handle-screens {
            .contacScreen-container {
                width: 100px;

                .contact-screen {
                    .container__logo-newchat-menu {
                        .container__newchat-menu {
                            display: none;
                        }
                    }

                    .search-contact {
                        input {
                            font-size: 8px;
                        }
                    }

                    .contacts-list {
                        .contact-preview {
                            .contact-preview__text {
                                display: none;
                            }
                        }
                    }
                }
            }

            .outlet-container {
                .chat {
                    .chat-list {
                        .message {
                            max-width: 100%;
                        }
                    }

                    .send-message {
                        width: auto;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 400px) {
    body {

        .handle-screens {
            .contacScreen-container {
                width: 70px;

                .contact-screen {
                    .container__logo-newchat-menu {
                        .container__newchat-menu {
                            display: none;
                        }
                    }

                    .search-contact {
                        display: none;

                        input {
                            font-size: 4px;
                        }
                    }

                    .contacts-list {
                        .contact-preview {
                            justify-content: center;

                            .contact-preview__text {
                                display: none;
                            }
                        }
                    }
                }
            }

            .outlet-container {
                .chat-screen {
                    .contact-nav {
                        .contact-nav__icons {
                            display: none;
                        }
                    }

                    .chat {
                        .chat-list {
                            width: 280px;
                            align-items: center;

                            .message {
                                font-size: 16px;
                                max-width: 50%;
                                margin: 10px 0px;
                            }
                        }

                        .send-message {
                            max-width: 90%;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            justify-content: center;

                            .send-message__form {
                                width: 200px;


                                .send-message__input {
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}